@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;

  --color-primary: #C797FF;
  --color-white: #FFFFFF;
  --color-black: #191A23;
  --color-gray-light: #F3F3F3
  --color-gray-dark: #292A32;
  --color-body-background: #FFFFFF;
}
