.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4.25rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  border: 1px solid var(--color-black);
  border-radius: 1rem;
  padding: 0 2.25rem;
  transition: all .4s;
}

.button__primary {
  color: var(--color-black);
  background-color: none;
}

.button__secondary {
  color: var(--color-white);
  background-color: var(--color-black);
  transition: all .4s;
}

.button__primary:hover,
.button__secondary:hover {
  background-color: var(--color-primary);
  box-shadow: 0px 5px 0px var(--color-black);
}