@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Raleway';
    font-size: 16px;
    box-sizing: border-box;
    background-color: #000000;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
    border-bottom: 1px solid #33A8DB;
}

.banner-content {
    padding-top: 3.5rem;
    padding-bottom: 4.6875rem;
    text-align: center;
}

.banner-content .logo {
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
    width: 16.75rem;
    height: 16.75rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.banner-content .logo img {
    margin-top: 1.6875rem;
}

.banner-content h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.9375rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.banner-content p {
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4375rem;
    width: 32.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.banner-content button {
    color: #31A8DD;;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    width: 20.375rem;
    height: 3.5625rem;
    background: none;
    border-image: linear-gradient(to bottom, #3BA1CD, #1572B7);
    border-image-width: 2px;
    border-image-slice: 1;
}

main {
    text-align: center;
}

#course-content {
    padding-top: 7.375rem;
    padding-bottom: 6rem;
    border-bottom: 1px solid #33A8DB;
}

#course-content h2 {
    color: #33A8DB;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.375rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem;
}

#course-content p {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1875rem;
    width: 49.5rem;
    margin-left: auto;
    margin-right: auto;
}

#course-content .module {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    width: 33.4375rem;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #252525;
    border: 1px solid #33A8DB;
    box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
    border-radius: 57px;
}

#course-content .module span {
    color: #33A8DB;
}