/* ALL SECTIONS */

.section__title {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 5.5rem;
}

.section__title p {
  max-width: 36.25rem;
}

/* SECTION COMPANIES */

.section-companies {
  margin-bottom: 8.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-companies__list {
  display: flex;
  justify-content: space-between;
}

.section-companies__list img {
  height: 3rem;
  filter: saturate(0%);
}